@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  --soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  --cyan-transparent: hsl(178deg 100% 50% / 40%);
  /*### Neutral*/
  --very-dark-blue: hsl(217, 54%, 11%);
  --very-dark-blue-card-bg: hsl(216, 50%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

body {
  padding: 0px;
  margin: 0px auto;
  background-color: var(--very-dark-blue);
  font-family: "Outfit", sans-serif;
  font-weight: 300;
}

h2,
span {
  color: var(--white);
}

p {
  font-size: 18px;
  color: var(--soft-blue);
}

.main {
  display: flex;
  align-items: center;
  height: 100vh;
}

.card {
  margin: 0 auto;
  padding: 1.5rem;
  max-width: 20rem;
  background-color: var(--very-dark-blue-card-bg);
  border-radius: 1rem;
}

.image {
  position: relative;
}

.card-image {
  width: 100%;
  border-radius: 10px;
  background-color: var(--Cyan);
}

.overlay {
  position: absolute;
  opacity: 0;
  background: url("./images/icon-view.svg") no-repeat;
  background-position: center;
  width: 100%;
  height: 99%;
  border-radius: 10px;
  top: 0;
  background-color: var(--cyan-transparent);
  transition: 0.5s ease;
}

.image:hover .overlay {
  opacity: 1;
}

.card-info {
  display: flex;
  justify-content: space-between;
}

.card-info p,
.card-footer p {
  margin: 0;
  font-size: 16px;
}

.card-info p:first-child {
  color: var(--Cyan);
  font-weight: 700;
}

.card-info p:first-child::before {
  content: url("./images/icon-ethereum.svg");
  display: inline-block;
  margin-right: 0.5rem;
}

.card-info p:last-child::before {
  content: url("./images/icon-clock.svg");
  display: inline-block;
  margin-right: 0.5rem;
}

.line {
  height: 1px;
  width: 100%;
  background-color: var(--very-dark-blue-line);
  margin: 1.5rem auto 0.9rem auto;
}

.card-footer {
  display: flex;
  align-items: center;
}

.card-footer div {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.card-footer img {
  width: 100%;
  border: 1px solid var(--white);
  border-radius: 50%;
}

.card h2:hover,
.card-footer span:hover {
  color: var(--Cyan);
}

.card-footer span,
.card h2,
.image {
  cursor: pointer;
}

@media only screen and (max-width: 390px) {
  p,
  .card-info p,
  .card-footer p {
    font-size: 1rem;
  }

  .main {
    margin: 0 1.5rem;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
